.logo img {
    object-fit: contain;
    width: 100%;
}

#intro img {
    object-fit: contain;
    width: 100%;
    max-width: 25vw;
}

#header .logo {
    padding: 10px;
    max-width: 20vw;
    /* background: #ffffff; */
    /* border-color: #6c635d; */
}

.text-logo {
    width: 7vw;
}

.image.main{
    display: inline-block !important;
    width: 100% !important;
    height: 35vh !important;
    margin: 0 !important;
    text-align: center;
}
.imp-ph {
    height: 100% !important;
    width: 98% !important;
    display: inline-block !important;
    object-fit: cover;
    object-position: top;
}

.maps, .ephe {
    display: inline-block !important;
    width: 49% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: top;
}

.secondary{
    height: 35vh !important;
    width: 100% !important;
    text-align: center;
}

.storyboard .col-4{
    background-color: #fafafa;
    border: solid white;
    padding: 10px;
}

.storyboard .image {
    min-height: 400px;
    max-height: 400px;
    vertical-align: middle;
}

.storyboard .image.time {
    padding-top: 70px
}

.storyboard .text {
    text-align: center;
    font-size: small;
    min-height: 100px;
    max-height: 100px;
}

.storyboard {
    padding: 10px;
    padding-bottom: 40px
}

.related-text {
    padding: 15px
}

.persona p {
    font-size: small;
}

.persona li {
    font-size: small;
}

.persona img {
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.siema{
    width: 300px;
    margin: 0 auto;
}

.post .buttons {
    margin: auto;
    width: 300px;
}

.post .buttons button.next {
    margin-left: 40px;
}

.siema img{
    max-height: 400px;
}